.header-section {
  margin-bottom: 5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20%;
}

.header-main-name {
  font-weight: 600;
  font-size: 2.8rem;
}

.header-properties-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.properties-name {
  position: relative;
  font-size: 1.5rem;
  white-space: nowrap;
  font-weight: 500;
  text-decoration: none;
  color: #ffff;
}

.properties-name:after {
  content: "";
  position: absolute;
  background-color: #ffff;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.properties-name:hover:after {
  width: 100%;
}
