.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container{
    font-size: 10rem;
    font-weight: 600;

    display: flex;
    flex-direction: column;

    letter-spacing: -4px;

    margin-left: 10rem;
}

.title-first-line{
    margin-right: 10rem;
    height: 10rem;
    color: #131313;
    -webkit-text-stroke: 2px #fff;
}

.title-sec-line{
    margin-left: 12rem;
}